    <tr>
      <td><%= link_to team.name, team_path(team) %></td>
      <td><%= team.wins.count %></td>
      <td><%= team.games.count %></td>
      <td><%= team.points %></td>
      <td>0.0</td>
    </tr>