<% content_for :head do %>
  <title>LAX Relative Power Index <%= @division.name%></title>
<% end %>
<% content_for :js_postscript do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#division').dataTable({
        paging:   false,
        info: false,
        searching: false,
        "order": [[ 4, "desc" ]]
    } );
  } );
</script>
<% end %>
<div class="row">
  <div class="table-responsive">
    <table id="division" class="display compact">
      <thead>
      <tr>
        <th>Name</th>
        <th>W</th>
        <th>L</th>
        <th>T</th>
        <th>RPI</th>
      </tr>
      </thead>
      <%= render partial: "team", collection: @division.teams %>
    </table>
    <footer>
      <medium class="text-muted"><p><%= display_datetime(@division.updated_at) %></p></medium>
    </footer>
  </div>
</div>