<% content_for :head do %>
  <title>LAX Relative Power Index <%= @division.name%></title>
<% end %>
<% content_for :js_postscript do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#division').dataTable({
        paging:   false,
        info: false,
        searching: false,
        "order": [[ 3, "desc" ]]
    } );
  } );
</script>
<% end %>
<div class="table-responsive">
  <table id="division" class="display compact">
    <thead>
    <tr>
      <th>Name</th>
      <th class="col-sm-1">Wins</th>
      <th class="col-sm-1">Points</th>
      <th class="col-sm-1">RPI</th>
    </tr>
    </thead>
    <%= render partial: "team", collection: @division.teams %>
  </table>
</div>
<div class="footer" id="footer">
  <p><%= display_datetime(@division.updated_at) %></p>  
</div>
