<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "${team.name}">

<ol class="breadcrumb">
  <li><a href="/division/${team.division.id}">${team.division.name}</a></li>
  <li class="active">${team.name}</li>
</ol>

<div class="table-responsive">
	<table class="table table-striped table-condensed">
		<tr>
			<th>Date</th>
			<th>Location</th>
			<th>Opponent</th>
			<th>Opponent WP</th>
			<th class="col-sm-1">GF</th>
			<th class="col-sm-1">GA</th>
		</tr>
		<#list games as game>
		<tr>
			<td>${game.date}</td>
			<td>${game.location}</td>
			<#if team.id == game.homeTeamId>
			<td>${game.awayTeam.name}</td>
			<td>${game.awayTeam.wp}</td>
			<td>${game.homeGoals}</td>
			<td>${game.awayGoals}</td>
			<#else>
			<td>${game.homeTeam.name}</td>
			<td>${game.homeTeam.wp}</td>
			<td>${game.awayGoals}</td>
			<td>${game.homeGoals}</td>
			</#if>
		</tr>
		</#list>
	</table>
</div>
<a href='http://leag1.com/Results.asp?MyTeam=${team.id}&org=youthlaxmn.org'>YLM site for ${team.name}</a>
</@layout.myLayout>