    <tr>
      <td><%= link_to team.division.season.name, season_path(team.division.season) %></td>
      <td><%= link_to team.name, team_path(team) %></td>
      <td><%= team.games_count %></td>
      <td><%= team.wins %></td>
    </tr>