<% content_for :head do %>
  <title><%= @organization.name%></title>
<% end %>
<% content_for :js_postscript do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#organization').dataTable({
        paging: false,
        info: false,
        searching: false,
        "order": [[ 0, "asc" ]]
    } );
  } );
</script>
<% end %>
<ol class="breadcrumb">
  <li><%= link_to 'All Organizations', organizations_path() %></li>
  <li class="active"><%= @organization.name %></li>
</ol>

<div class="table-responsive">
  <table id="organization" class="display compact">
    <thead>
    <tr>
      <th>Name</th>
      <th>Games</th>
      <th>Wins</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: "team", collection: @organization.teams %>
    </tbody>
  </table>
</div>
